{{#partial "contenido" }}
    <link rel="stylesheet" href="/css/abrir-incidente.css">

    <div class = "form-container">
        <div class ="form-title-container">
            <h3>Abrir Incidente</h3>
        </div>

        <form action="/incidentes/abrir" method = "post">

            <div class ="form-input-container">

                <label><b>Comunidad</b></label>

                <select name="comunidad" id="comunidad">
                    <option selected disabled>Seleccionar</option>
                    {{#each comunidades}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>

                <label><b>Entidad</b></label>

                <select name="entidad" id="entidad">
                    <option selected disabled>Seleccionar</option>
                    {{#each entidades}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>

                <label><b>Establecimiento</b></label>

                <select name="establecimiento" id="establecimiento">
                    <option selected disabled>Seleccionar</option>
                    {{#each establecimiento}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>

                <label><b>Servicio</b></label>

                <select name="servicio" id="servicio">
                    <option selected disabled>Seleccionar</option>
                    {{#each servicios}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>

                <label><b>Observaciones</b></label>
                <input type="text"name="observaciones">

            </div>

            <div class = "form-button-container">
                <button type="submit">Subir</button>
            </div>

        </form>
    </div>

    <script src="/js/abrir-incidente.js"></script>
{{/partial}}
{{> templates/base }}