{{#partial "contenido" }}
    <link rel="stylesheet" href="/css/lista-incidentes.css">

    <div class = "table-container">
        <div class ="table-title-container">
                <h3>Lista De Incidentes</h3>
        </div>

        <h3 class="table-title">Filtrar por Estado</h3>
        <table class="filtros-table">

            <tbody>
                <tr>
                    <td><a href="/incidentes?estado=abierto" {{#if abierto}} class="filtro-seleccionado"{{/if}}>Abierto</a></td>
                    <td><a href="/incidentes?estado=cerrado" {{#if cerrado}} class="filtro-seleccionado"{{/if}}>Cerrado</a></td>
                    <td><a href="/incidentes"  {{#if ninguno}} class="filtro-seleccionado"{{/if}}>Ver todos</a></td>
                </tr>
            </tbody>

        <table class="lista-table">
            <tr>
                <th>Comunidad</th>
                <th>Entidad</th>
                <th>Establecimiento</th>
                <th>Servicio</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Cierre</th>
                <th>Observaciones</th>
            </tr>
            <tbody>
            {{#each incidentes}}
                <tr>
                    <td>{{this.comunidad.nombre}}</td>
                    <td>{{this.entidad.nombre}}</td>
                    <td>{{this.establecimiento.nombre}}</td>
                    <td>{{this.prestacionDeServicio.servicio.descripcion}}</td>
                    <td>{{this.fechaDeCreacion}}</td>
                    <td>{{this.fechaDeCierre}}</td>
                    <td>{{this.observaciones}}</td>

                    {{#if this.estadoAbierto}}
                        <td>
                            <form method="POST" action="/incidentes/cerrar/{{this.id}}">
                                <button type="submit" >Cerrar</button>
                            </form>
                        </td>
                    {{else}}
                        <td>CERRADO</td>
                    {{/if}}


                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}
{{> templates/base }}