{{#partial "contenido" }}
    <link rel="stylesheet" href="/css/administracionComunidades.css">

<!--    Quiero hacer un botón para crear una comunidad -->
    <div class = "boton-crear-comunidad">
        <a href="/administracion/comunidades/crear">
            <button class = "boton-crear-comunidad">Crear comunidad</button>
        </a>
    </div>
    <div class = "table-container">
<!--        Mostrar tabla solo si hay elementos en la lista comunidades-->
        {{#if comunidades}}
        <table class="lista-table">
            <tr>
                <th>Nombre</th>
                <th>Miembros</th>
            </tr>
            <tbody>
            {{#each comunidades}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.cantMiembros}}</td>
                    <td><a href="/administracion/comunidades/{{this.id}}">
                        <img src="/archivos/editIcon.png" alt="Icono para editar la foto" class = "imagen-icono">
                    </a>
                    </td>
                    <td>
                        <a onclick="eliminarComunidad({{this.id}}); return false;" style="cursor: pointer;">
                            <img src="/archivos/deleteIcon.png" alt="Icono para borrar" class="imagen-icono">
                        </a>

                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        {{else}}
            <h3>No hay comunidades para mostrar. Que tenga un lindo día</h3>
        {{/if}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/administracion-comunidades.js"></script>
{{/partial}}
{{> templates/base }}