{{#partial "contenido" }}
<link rel="stylesheet" href="/css/rankings.css">
    <div class = "table-container">
        <div class ="table-title-container">
            <h3>Entidades con mayor promedio de tiempo de cierre de incidentes</h3>
        </div>
        <table class="lista-table">
            <tr>
                <th>Nombre</th>
                <th>Promedio</th>
            </tr>
            <tbody>
            {{#each rankingPromedioTiempoCierre}}
                <tr>
                    <td>{{this.nombreSujeto}}</td>
                    <td>{{this.valor}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class = "table-container">
        <div class ="table-title-container">
            <h3>Entidades con mayor cantidad de incidentes reportados</h3>
        </div>
        <table class="lista-table">
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
            </tr>
            <tbody>
            {{#each rankingMayorCantIncidentes}}
                <tr>
                    <td>{{this.nombreSujeto}}</td>
                    <td>{{this.valor}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class = "table-container">
        <div class ="table-title-container">
            <h3>Mayor grado de impacto de las problemáticas</h3>
        </div>
        <table class="lista-table">
            <tr>
                <th>ID Incidente</th>
                <th>Grado</th>
                <th>Comunidad afectada</th>
            </tr>
            <tbody>
            {{#each rankingGradoDeImpacto}}
                <tr>
                    <td>{{this.nombreSujeto}}</td>
                    <td>{{this.valor}}</td>
                    <td>{{this.incidenete.comunidad.nombre}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

{{/partial}}
{{> templates/base }}